# Python cache i kompajlirani fajlovi
__pycache__/
*.pyc
*.pyo
*.pyd

# Buildozer i Kivy build folderi
.buildozer/
bin/
*.apk

# IDE fajlovi (Visual Studio Code, JetBrains)
.vscode/
.idea/
*.iml
